<<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Classes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->

	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../static/img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="../static/img/favicon.png">

	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/scripts.js"></script>
</head>

<body>
<div class="container">
    <div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li>
					<a href="/home/index">HOME</a>
				</li>
				<li>
					<a href="/forum/forum">FORUM</a>
				</li>
				<li class="active">
					<a href="/info/info">INFO</a>

				</li>
				<li>
					<a href="/rank/rank">RANK</a>
				</li>
				<li>
					<a href="/midia/midia">MÍDIA</a>
				</li>

			</ul>
		</div>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<dl>
                Thief
                <br></br>
        Furtivo: Fica invisível por 4 segundos
                <br></br>
        Furto: Desarma o inimigo por 3 segundos
        <br></br><br></br>

        Mago
                <br></br>
        Blink: Fica imune a habilidades corpo a corpo por 3 segundos
        <br></br>
        Impacto mental: Causa um dano igual a 25%+15 da diferença de inteligência entre o mago e o alvo
        <br></br><br></br>

        Caçador
                <br></br>
        Armadilha: prende o próximo alvo que atacar o caçador por 3 segundos
                <br></br>
        Carga: carrega um tiro mais potente, tonteia o alvo por 2 segundos e aumenta em 100% o dano causado
        <br></br><br></br>

        Guerreiro
                <br></br>
        Interceptar: Se joga contra o alvo tonteando-o por 2 segundos e habilitando qualquer habilidade corpo a corpo que estivesse desabilitada
                <br></br>
        Fúria: Ativar: Aumenta o dano em 30% e diminui a defesa em 10% por 5 segundos. Passivo: aumenta a regeneração de vida em 100% quando o total de vida estiver menor que 30%
        <br></br><br></br>

        Bruxo
                <br></br>
        Sacrifício: Sacrifica 15% do total de vida para se exilar em um lugar de penitencia
                <br></br>
        Drenar: Suga 3% do total de vida por segundo do alvo
        <br></br><br></br>

        Lanceiro
                <br></br>
        Crítico: Joga sua lança contra o alvo causando 300% de dano, ficara sem sua arma durante 10 segundos
                <br></br>
        Maestria: Se equipado com escudo, durante 5 segundos, 50% da defesa do escudo também vira ataque, caso esteja equipado com adaga, seus ataques com adaga
        terão 30% de chance de causar dano critico, o que aumenta em 100% o seu dano. Essa habilidade só pode ser usada enquanto o lanceiro estiver sem a lança



            </dl>
	    </div>
	</div>

	<div class="row clearfix">
		<div class="col-md-3 column">
			 <a href="/info/primeirospassos" class="btn" type="button">Primeiros passos</a>
		</div>
		<div class="col-md-3 column">
			 <a href="/info/racas" class="btn" type="button">Raças</a>
		</div>
		<div class="col-md-3 column">
			 <a href="/info/classes" class="btn" type="button">Classes</a>
		</div>
		<div class="col-md-3 column">
			 <a href="/info/profissoes" class="btn" type="button">Profissões</a>
		</div>
	</div>
</div>
</body>
</html>