<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Informações</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../static/img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="../static/img/favicon.png">
  
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/scripts.js"></script>
</head>

<body>
<div class="container">
    <div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li>
					<a href="/home/index">HOME</a>
				</li>
				<li>
					<a href="#">FORUM</a>
				</li>
				<li class="active">
					<a href="/info/info">INFO</a>

				</li>
				<li>
					<a href="#">RANK</a>
				</li>
				<li>
					<a href="#">MÍDIA</a>
				</li>

			</ul>
		</div>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<dl>

				O projeto começou por uma necessidade de se fazer um site na disciplina de scripts
                em minha graduação em análise e desenvolvimento de sistemas, além de meu interesse por
                jogos que envolvam estratégia e trabalho em equipe.

                <br></br>

                O jogo possuirá história própria assim que possível, além de características únicas,
                mas a princípio será construído com base em minhas experiências em jogos de rpg (rolling play game)
                que possuem ótimos sistemas de pvp (player vs player).

                <br></br>

                O foco principal será o desenvolvimento de lutas estilo arena,
                onde os jogadores irão visualizar os avatares inimigos e aliados
                e terão a disposição habilidades de suporte e ofensivas para conquistar
                a vitória, ganha o jogador/time que levar o seu adversário a zero de vida.

                <br></br>

                Observação: As habilidades serão inicialmente representadas em forma
                de texto, sendo o castbar (barra que mostra o tempo para se lançar a
                habilidade) a prioridade para o desenvolvimento visual.




            </dl>
	    </div>
	</div>

	<div class="row clearfix">
		<div class="col-md-3 column">
			 <a href="#" class="btn" type="button">Primeiros passos</a>
		</div>
		<div class="col-md-3 column">
			 <a href="#" class="btn" type="button">Raças</a>
		</div>
		<div class="col-md-3 column">
			 <a href="#" class="btn" type="button">Classes</a>
		</div>
		<div class="col-md-3 column">
			 <a href="#" class="btn" type="button">Profissões</a>
		</div>
	</div>
</div>
</body>
</html>