<<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Primeiros Passos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->

	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../static/img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="../static/img/favicon.png">

	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/scripts.js"></script>
</head>

<body>
<div class="container">
    <div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li>
					<a href="/home/index">HOME</a>
				</li>
				<li>
					<a href="/forum/forum">FORUM</a>
				</li>
				<li class="active">
					<a href="/info/info">INFO</a>

				</li>
				<li>
					<a href="/rank/rank">RANK</a>
				</li>
				<li>
					<a href="/midia/midia">MÍDIA</a>
				</li>

			</ul>
		</div>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<dl>

				1º Pense no futuro
                Que atributos bonus sua raça disponibiliza? Sua classe é mais resistente? Recebe mais dano
                que o normal? O dano dela é continuo ou é o chamado "burst"?
                Conheça o que você escolhera e o que eles podem proporcionar
                (Pode-se ler mais a respeito nos links referentes a Raças - Classes - Profissões) e seja
                coerente, se uma classe precisa de poder magico, não utilize itens ou qualquer artificio
                que de poder de ataque.
                <br></br>
                2º Errar faz parte, aprender com os erros tambem
                Não há "receitas de bolo" quando se trata de um sistema pvp, mas existem reações comuns que
                podem ser aprendidas com o decorrer dos jogos. Derrepente se um jogador sempre morre para uma
                habilidade em especifico e ele tem outra habilidade que podeanular a que o mata, após uma
                experiencia de derrota, aprendera a guardar alguma habilidade e/ou usar outra em um momento
                especifico. Não fique triste quando algo não der certo, simplesmente tente saber o que aconteceu
                de errado e o que poderia ser feito para que não aconteça novamente.
                <br></br>
                3º Alma gemea
                Por mais que alguns jogadores se destaquem, naturalmente algumas composições daram mais
                certo do que outras e assim levaram vantagens. Cabe ao jogador conhecer um pouco sobre as
                outras classes/raças/profissões para que saiba no que combinar
                e como trabalhar juntos para o melhor desempenho em equipe.
                <br></br>
                4º Use sua imaginação
                O jogo foi/será desenvolvido para que haja diversas oportunidades e customização, deixando
                na mão de cada jogador a estratégia para surpreender seus
                oponentes.




            </dl>
	    </div>
	</div>

	<div class="row clearfix">
		<div class="col-md-3 column">
			 <a href="/info/primeirospassos" class="btn" type="button">Primeiros passos</a>
		</div>
		<div class="col-md-3 column">
			 <a href="/info/racas" class="btn" type="button">Raças</a>
		</div>
		<div class="col-md-3 column">
			 <a href="/info/classes" class="btn" type="button">Classes</a>
		</div>
		<div class="col-md-3 column">
			 <a href="/info/profissoes" class="btn" type="button">Profissões</a>
		</div>
	</div>
</div>
</body>
</html>