<<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Raças</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->

	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../static/img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="../static/img/favicon.png">

	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/scripts.js"></script>
</head>

<body>
<div class="container">
    <div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li>
					<a href="/home/index">HOME</a>
				</li>
				<li>
					<a href="/forum/forum">FORUM</a>
				</li>
				<li class="active">
					<a href="/info/info">INFO</a>

				</li>
				<li>
					<a href="/rank/rank">RANK</a>
				</li>
				<li>
					<a href="/midia/midia">MÍDIA</a>
				</li>

			</ul>
		</div>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<dl>
                Robbit
                <br></br>
                Cegar(aumenta o cast time de todos em 25% com fogos de artificio(durante 5 seg)
                <br></br>
                Furtivo (diminui a chance de ser atingido fisicamente em 10%(passivo))
                <br></br>
                Saúde (reduz o tempo de efeitos prejudiciais em 50%(passivo))
                <br></br>

                Classes possiveis (Thief - mago - caçador)
                <br></br>
                Profissões possiveis (engenheiro - mestre dos pergaminhos - alquimia)
                <br></br><br></br>



            Orc
            <br></br>
            Furia (diminui a defesa em 25% e aumenta o ataque em 50%(por 5 seg))
            <br></br>
            Chamado ancestral(Usa das sabedorias da origem de seu corpo antecessor, aumentando em 20% a chance de acerto, 10% o ataque, 10% a defesa e diminui o cast time em 15%(durante 7 seg))
            <br></br>
            Classes possiveis (guerreiro - bruxo - lanceiro)
            <br></br>
            Profissões possiveis (Curandeiro - Maestro de guerra - Trabalho com couro)



            </dl>
	    </div>
	</div>

	<div class="row clearfix">
		<div class="col-md-3 column">
			 <a href="/info/primeirospassos" class="btn" type="button">Primeiros passos</a>
		</div>
		<div class="col-md-3 column">
			 <a href="/info/racas" class="btn" type="button">Raças</a>
		</div>
		<div class="col-md-3 column">
			 <a href="/info/classes" class="btn" type="button">Classes</a>
		</div>
		<div class="col-md-3 column">
			 <a href="/info/profissoes" class="btn" type="button">Profissões</a>
		</div>
	</div>
</div>
</body>
</html>