<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PvP Score</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../static/img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="../static/img/favicon.png">
  
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/scripts.js"></script>
</head>

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column">
			<img alt="140x140" src="http://imageshack.com/a/img35/5279/xl5r.png">
		</div>
		<div class="col-md-10 column">
			<ul class="nav nav-tabs">
				<li>
					<a href="/home/index">HOME</a>
				</li>
				<li>
					<a href="/forum/forum">FORUM</a>
				</li>
				<li>
					<a href="/info/info">INFO</a>

				</li>
				<li class="active">
					<a href="/rank/rank">RANK</a>
				</li>
				<li>
					<a href="/midia/midia">MÍDIA</a>
				</li>
				
			</ul>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-2 column">
			<form role="form">
				<div class="form-group">
					 <label for="exampleInputEmail1">Login</label><input class="form-control" id="exampleInputEmail1" type="email">
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">Password</label><input class="form-control" id="exampleInputPassword1" type="password">
				</div>
				
				<div class="checkbox">
					 <label><input type="checkbox"> Usar este login como padrão</label>
				</div>
                <a href="/pvpscore/pvpscore" class="btn btn-default">Entrar</a>
                <a  href="/cadastrar/cadastrar" class="btn btn-default">Cadastrar</a>
			</form>
		</div>
		<div class="col-md-10 column">
			<h2>

               TOP 10
            </h2>
            </br>
            <h3>
              Clique no jogador para ver a descrição
            </h3>
            <a href="#" class="btn btn-link btn-xs" type="button">Xupisca</a></br>
            <a href="#" class="btn btn-link btn-xs" type="button">Dilmaboladona</a></br>
            <a href="#" class="btn btn-link btn-xs" type="button">Gringoogle</a></br>
            <a href="#" class="btn btn-link btn-xs" type="button">Paranaueboy</a></br>
            <a href="#" class="btn btn-link btn-xs" type="button">Mushalutia</a></br>
            <a href="#" class="btn btn-link btn-xs" type="button">Huntersinho</a></br>
            <a href="#" class="btn btn-link btn-xs" type="button">Killbill</a></br>
            <a href="#" class="btn btn-link btn-xs" type="button">Lockdoido</a></br>
            <a href="#" class="btn btn-link btn-xs" type="button">20mata70corre</a></br>
            <a href="#" class="btn btn-link btn-xs" type="button">Fitnesswarrior</a></br>

			
			
		</div>
	</div>
    </br></br>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-900904">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-900904">
					</li>
					<li data-slide-to="1" data-target="#carousel-900904">
					</li>
					<li data-slide-to="2" data-target="#carousel-900904">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="http://imageshack.com/a/img836/2923/my8u.jpg">
						<div class="carousel-caption">
							<h4>
								Jaina Proudmoore
							</h4>
							<p>
								Born prior to the First War, Jaina Proudmoore is the youngest child of Admiral Daelin Proudmoore, lord of Kul Tiras and longtime friend and ally of Lordaeron and Azeroth.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://imageshack.com/a/img46/843/jbso.jpg">
						<div class="carousel-caption">
							<h4>
								Dota época de ouro
							</h4>
							<p>
								Época que o time que usava skype era "organizado".  :D
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://imageshack.com/a/img46/6876/ggjv.jpg">
						<div class="carousel-caption">
							<h4>
								Conquista em Arena
							</h4>
							<p>
								Para quem dizia que era "impossível" de se pegar 1600 ou mais de arena de shaman elemental.  \o/
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-900904" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-900904" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
    <div class="row clearfix">
		<div class="col-md-3 column">
			<blockquote>
				<p>
					Verificar o melhor conteúdo a se postar.
				</p> <small>rodapé <cite>Source Title</cite></small>
			</blockquote>
		</div>
	</div>
</div>
</body>
</html>
